{% extends './base.html' %} {% load static %} {% block add_css %}
<link rel="stylesheet" href="{% static 'css/login-register.css' %}" />
{% endblock add_css %} {% block content %}
<main class="pa4 black-80 login-container">
  <form class="measure-narrow center ph4 pv5 login-card br2">
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <legend class="f3 ph0 mh0 tc">로그인</legend>
      <div class="mt3">
        <input
          class="pa2 input-reset ba bg-transparent w-100 b--moon-gray fw3"
          type="text"
          name="username"
          id="username"
          placeholder="아이디"
        />
      </div>
      <div class="mv3">
        <input
        class="b pa2 input-reset ba bg-transparent w-100 b--moon-gray fw3"
          type="password"
          name="password"
          id="password"
          placeholder="비밀번호"
        />
      </div>
    </fieldset>
    <div class="tc">
      <input
        class="b ph3 pv2 input-reset bn br2 grow pointer f6 dib btn-beige"
        type="submit"
        value="로그인"
      />
    </div>
    <div class="lh-copy mt3 tc">
      <a href="#0" class="f6 link dim black db mb2">회원가입</a>
      <a href="#0" class="f6 link dim black db">비밀번호를 잊으셨나요?</a>
    </div>
  </form>
</main>

{% endblock %}
