음악검색

<form action="{% url 'search_query' %}" method="POST"> {% csrf_token %}
    <input type="text" name="search-word">
    <input type="submit" value="검색">
</form>

<div>
    {% for track in results.tracks.items %}
        <img src="{{ track.album.images.0.url }}" alt="album-image" width="50px"> {{ track.name }} - {{ track.artists.0.name }}
        <form action="{% url 'new' %}" method="POST"> {% csrf_token %}
            <input type="hidden" name="track_title" value="{{track.name}}">
            <input type="hidden" name="track_artist" value="{{track.artists.0.name}}">
            <input type="hidden" name="track_album_cover" value="{{track.album.images.0.url}}">
            <input type="hidden" name="track_audio" value="{{track.preview_url}}">
            <input type="submit" value="선곡">
        </form>
        <br><br>
    {% endfor %}
</div>