.calendar {
    width: 70%;
    margin: auto;
}

.calendar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.cal-nav {
    /* width: 14%; */
    display : flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    /* align-items: center; */
    border: 1px solid var(--mus-little-darkgray);
    border-radius: 5px;
    /* margin: 2% 43% 7% 43%; */
}

.year-month {
    text-align: center;
    font-size: 2em;
    /* margin: 20px; */
}

.nav-btn {
    width: 28px;
    height: 30px;
    border: none;
    font-size: 16px;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
}

.go-today {
    /* width: 80%; */
    width: 75px;
    border-left: 1px solid var(--mus-neutralgray);
    border-right: 1px solid var(--mus-neutralgray);
}

.calendar_main {
    border-collapse: collapse;
    width: 100%;
}

.cal-days {
    display: flex;
    margin: 25px 0 10px;
}

.cal-day {
    width: calc(100% / 7);
    text-align: center;
    transition: all .3s;
}

.cal-dates {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid var(--mus-neutralgray);
}

.cal-date {
    cursor: pointer;
    width: calc(100% / 7);
    padding: 1% 9% 9% 1%;
    /* text-align: center; */
    border: 1px solid #333333;
    transition: all .3s;
}

.cal-day:nth-child(7n + 1),
.cal-date:nth-child(7n + 1) {
    color: #d13e3e;
}

.cal-day:nth-child(7n),
.cal-date:nth-child(7n) {
    color: #396ee2;
}

.other {
    color: var(--mus-little-darkgray) !important;
}

.today {
    position: relative;
    background-color: var(--mus-pink);
}

.selected {
    background-color: black;
    color: #ffffff !important;
}