:root {
  --mus-black: #212120;
  --mus-darkgray: #595756;
  --mus-little-darkgray: #787774;
  --mus-neutralgray: #9e9c9a;
  --mus-white: #fffcf8;
  --mus-pink: #ebb29b;
  --mus-brown: #998f76;
}

.detail-header {
  margin-top: 5%;
}

.go-list {
  font-size: 1.3em;
  margin: 15%;
  color: var(--mus-darkgray);
}

.music {
  height: 250px;
}

.music img {
  height: 90%;
}

.music-info {
  font-family: Pretendard-Medium;
  color: var(--mus-darkgray);
  text-align: left;
  display: inline-block;
}

.music-info .music-title {
  margin: 12px;
}

.player {
  text-align: center;
  margin: 12px;
}

hr {
  width: 16%;
  text-align: center;
  margin: 20px 42% 20px 42%;
}

.diary-info {
  text-align: right;
}

.diary .diary-title {
  font-size: 2em;
  margin-bottom: 0px;
  margin-top: 90px;
}

.diary-author {
  font-size: 1.3em;
  color: var(--mus-darkgray);
}

.diary-date {
  font-size: 1.1em;
  color: var(--mus-darkgray);
}

.diary-content {
  font-size: 1.2em;
}

.music-info {
  width: 30vw;
}

.music-info .custom-player {
  width: 20vw;
}

.music-info .custom-player * {
  color: var(--mus-darkgray);
}

.music-info .stream-base {
  background-color: var(--mus-lightgray);
  width: 100%;
}

.music-info .stream-now {
  background-color: var(--mus-pink);
  width: calc(20 / 3 * 1%);
}
