/* Home */
.home-banner-container {
  background: linear-gradient(
    to bottom,
    rgba(196, 185, 157),
    rgba(196, 185, 157, 0.82)
  );
}

.home-banner-container *,
.home-banner-container p,
.home-banner-container .diary-title {
  color: var(--mus-white);
}

.home-title {
  font-family: Pretendard-Thin;
  background: rgba(255, 213, 196, 0.5);
}

.music-title,
.diary-title {
  font-family: Pretendard-Medium;
  color: var(--mus-darkgray);
}

.music-artist {
  font-family: Pretendard-Medium;
  color: var(--mus-little-darkgray);
}

.preview-music img {
  max-width: 60%;
  filter: drop-shadow(3px 3px 3px #000);
}

.entry {
  display: none;
}

.entry.current {
  display: flex;
}

.prev,
.next {
  background: none;
}

.pink-emp {
  color: #dba691;
}

.create-post p {
  font-family: Pretendard-ExtraLight;
}

@media screen and (max-width: 1200px) {
  .content-area,
  .home-content-container,
  .switchables {
    width: 100%;
    padding: 5%;
  }

  .entry.current {
    padding: 0;
  }

  .entry.current .entry-content {
    display: block;
    padding: 1rem 0;
    margin: 1rem 0;
  }
  .entry.current .entry-content > * {
    width: 100%;
    height: auto;
  }

  .create-post {
    padding: 0 1rem;
  }
}
