.login-container {
  width: 80%;
  margin: 5rem auto;
}

.login-card {
  background-color: var(--mus-white);
}

.login-card legend {
  font-family: Pretendard-Bold;
}

.register-container {
  width: 80%;
  margin: 2rem auto;
}

.brown {
  color: var(--mus-brown);
}

.br-brown {
  border-color: var(--mus-brown);
}

.errorlist li {
  color: red;
  font-size: 0.8rem;
  max-width: 35ch;
  margin: 0.5rem auto;
  text-align: center;
}
