{% extends './base.html' %} {% load static %} {% block add_css %}
<link rel="stylesheet" href="{% static 'css/login-register.css' %}" />
{% endblock add_css %} {% block content %}
<main class="ph4 pv3 mt4 black-80 login-container">
  <form method="post" class="measure center tc pa4 login-card br2 shadow-3">
    {% csrf_token %}
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <legend class="f3 ph0 mh0 tc brown mv3 pv2">
        MU:US에서 당신의 오늘을 기록하세요
      </legend>
      <div class="mt3">
        <input
          class="pa2 input-reset ba w-80 b--moon-gray fw3 br2 br-brown"
          type="text"
          name="username"
          id="username"
          placeholder="아이디"
        />
      </div>
      <div class="mv3">
        <input
          class="b pa2 input-reset ba w-80 b--moon-gray fw3 br2 br-brown"
          type="password"
          name="password"
          id="password"
          placeholder="비밀번호"
        />
      </div>
    </fieldset>
    {% if form.errors %}
    <p class="red">{{form.errors}}</p>
    {% endif %}
    <div class="tc">
      <input
        class="b ph3 pv2 input-reset bn br2 grow pointer f6 dib btn-beige w-80"
        type="submit"
        value="로그인 하기"
      />
    </div>
    <div class="lh-copy mt3 w-80 center flex justify-end">
      <a href="{% url 'signup' %}" class="f6 link dim black db mb2">회원가입</a>
    </div>
  </form>
</main>

{% endblock %}
